input.textbox{
    border-radius: 0;
    border:1px solid grey;
    box-sizing: border-box; 
    font-size: 14px; 
    font-weight: 400;
    height: 44px;
    letter-spacing: .05em;
    margin-bottom: 18px; 
    min-height: 34px;
    padding-left: 18px;
    padding-top: 8px; 
    width: 100%;
}

input.textbox:focus{
    outline: 1px solid #000;
    outline-offset: -2px;
}
