.container-fluid{
  max-width: 1440px;
}
p{
  margin-bottom: 10px;
}
.outline{
  outline: 1px solid red;
}

.lead{
  margin: 20px 0px;
}
.center{
  text-align: center;
  margin:0 auto;
}
.review{
  margin: 40px 0px;
  font-size: x-small;
}
.review .name{
  font-weight: bold;
  display: inline;
  margin-right: 10px;
}
.review .sb-avatar{
  margin-right: 10px;
}

.review .comment{
  margin-top: 20px;
  font-size: x-small !important;
  line-height:1.6em;
}
.bg-primary{
  background-color:mediumvioletred !important;
}

/* cargon control tweaks */

/*dropdown */
.bx--dropdown-text{
  padding-left: unset;
}

/* text input */
.bx--text-input{
  padding-left: 0px;
}

